<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head %>
	</head>
	<body>
		<script type="text/javascript">
			$( document ).ready(function(){initProfilePage();});
		</script>
		<nav>
			<div class="nav-wrapper" style="background-color: #885ead">
				<a href="#" class="brand-logo" style="margin-left: 10px">JBookings</a>
				<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a><%= username%></a></li>
					<li><a href="logout">Logout</a></li>
				</ul>
				<ul id="mobile-menu" class="side-nav">
					<li><a href="logout">Logout</a></li>
				</ul>
			</div>
		</nav>
		<div style="background-color: #ccbadc">
			<div class="container" style="padding-top: 20px; min-height: 500px; height: calc(100vh - 64px)">
				<div class="row">
					<div class="col s12 m2" style="margin-bottom: 10px">
						<a data-position="right" data-delay="50" data-tooltip="New Booking" class="btn-floating btn-large waves-effect waves-light purple tooltipped modal-trigger" href="#new-booking"><i class="material-icons">add</i></a>
						<!-- Modal Structure -->
						<div id="new-booking" class="modal bottom-sheet">
							<div class="modal-content">
								<h4>New Booking</h4>
									<div class="row">
										<div class="input-field col s6">
											<input id="booking-fname" name="fname" type="text" class="validate" required>
											<label for="booking-fname">First Name</label>
										</div>
										<div class="input-field col s6">
											<input id="booking-lname" name="lname" type="text" class="validate" required>
											<label for="booking-lname">Last Name</label>
										</div>
										<div class="input-field col s6">
											<input id="booking-date" type="date" name="date" class="datepicker" required>
											<label for="booking-date">Date</label>
										</div>
										
										<div class="input-field col s6">
											<input id="booking-phone" name="phone" type="text" class="validate" required>
											<label for="booking-phone">Phone</label>
										</div>
									</div>
							</div>
							<div class="modal-footer">
								<button onclick="submitBooking()" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</button>
							</div>
						</div>
					</div>
					<div class="input-field col s12 m5">
						<select id="month-filter" onchange="filterMonth()">
							<option value="0" disabled selected>Filter by Month</option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<label>Month</label>
				  	</div>
				  	<div class="input-field col s12 m5">
						<select>
						<option value="" disabled selected>Filter by Year</option>
							<option value="2016" selected="true">2016</option>
						</select>
						<label>Year</label>
				  	</div>
				</div>	
				<div class="row">
					<div class="col s12" style="background-color: #ddd1e7; height: calc(100vh - 325px); min-height: 200px; overflow-y: scroll;">
						<table id="bookings-table" class="responsive-table">
							<thead style="">
								<tr>
									<th data-field="id">Date</th>
									<th data-field="name">Time</th>
									<th data-field="price">Name</th>
									<th data-field="price">Phone</th>
								</tr>
							</thead>
							<tbody style="height: 300px; overflow: auto">
							</tbody>
				        </table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>